{% extends 'blog/base.html' %}


{% block content %}

 <h1>{{ post.title }}</h1>

 <small class="text-muted">Posted at {{ post.date_added}}</small>

 <h2>{{ post.intro }}</h2>

 <p>{{ post.body }}</p>

 <hr>
<h2>Comments:</h2>
{% for comment in post.comments.all %}
  {% if comment %}
<strong>{{ comment.name }}</strong>
<p class="text-muted">{{ comment.date_added}}</p>
<p>{{ comment.body }}</p>
  {% else %}

<p>No comments yet!</p>

  {% endif %}
{% endfor %}
 <hr>

 <h2>Add Comment:</h2>
 <form action="{{ . }}" method="POST">
 <!-- Built in security -->
 {% csrf_token %}

 <!-- Form as paragraph -->
 {{ form.as_p }}

    <button class="btn btn-primary">Submit</button>
 </form>




 {% endblock %}
